.row
  .col-sm-4
    %h2= @user.tag
    - if current_user.can_follow?(@user)
      = link_to "Follow", user_relationships_path(@user), class: "btn btn-default btn-yellow", method: :post
  
  .col-sm-8
    %h3 Tweets:
    = render @tweets
  