.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button(class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Twitter Clone", "#", class: "navbar-brand"
    .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      %ul.nav.navbar-nav
        %li= link_to "Regiser", register_path
        %li= link_to "Sign In", "#"
      