.jumbotron.text-center
  %h1 Welcome to Twitter Clone
  %p Stay up to date with all your friends, family, favorite celebrites and news sources all in one place.
  = link_to "Sign Up", register_path, class: "btn btn-default btn-yellow"
  = link_to "Sign In", sign_in_path, class: "btn btn-default btn-orange"
