/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

img {
  max-width: 100%;
}

body {
  margin-top: 80px;
}

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Francois One' !important;
  color: #f19f4d !important;
}

a, p, label, input, textarea {
  font-family: 'Didact Gothic';
}

.btn-yellow, .btn-orange {
  border: none;
  color: #fff;
}

.btn-yellow {
  background-color: #f9cf00;
}

.btn-orange {
  background-color: #f19f4d;
}

.tweet-profile-picture {
  width: 60px;
  border-radius: 5px;
}

/*****************************
HEADER
*****************************/

.navbar {
  background-color: #4484ce;
}

.navbar a {
  color: #fff !important;
}

.navbar a:hover {
  color: #d9d9d9 !important;
}

.navbar .navbar-brand {
  color: #f19f4d !important;
}

/*****************************
PAGE: FRONT
*****************************/

/*****************************
PAGE: PROFILE
*****************************/

.profile-picture {
  width: 180px;
  border-radius: 20px;
}

/*****************************
PAGE: USER INDEX
*****************************/

.index-profile-picture {
  display: block;
  margin: auto;
  width: 60%;
  border-radius: 5px;
}
